# -- Lingkungan & Rahasia --
# File ini berisi informasi sensitif seperti kunci rahasia dan detail database
.env

# -- Database Lokal --
# Abaikan database SQLite yang digunakan untuk pengembangan awal
*.sqlite
*.sqlite3
db.sqlite3

# -- Folder Virtual Environment Python --
# Mencegah mengunggah seluruh library yang diinstal
venv/
.venv/
env/
.env/
.env.*
!.env.example

# -- File Cache & Kompilasi Python --
# Dibuat secara otomatis oleh Python dan tidak diperlukan di repositori
__pycache__/
*.pyc
*.pyo
*.pyd

# -- Konfigurasi Editor & IDE --
# File konfigurasi spesifik untuk lingkungan pengembangan lokal Anda
.vscode/
.idea/
*.swp

# -- File Build & Distribusi --
# Folder yang dibuat saat membangun paket Python
build/
dist/
*.egg-info/